@inherits SliderPanelBase
@inject SliderInterop jsInterop

<div id="@TopPanelId" class="noselect @TopClassString"
     style="@TopStyleString
    position:absolute;
    overflow:auto;
    top:0px;
    left:0px;
    width:@WidthPx;
    height:@TopPanelHeightPx;">
    <CascadingValue Value=@this>
        @TopChildContent
    </CascadingValue>
</div>

<div id="@SliderId" class="@DefaultSliderClass @SliderClassString"
     style="position:absolute;
    height:@SliderHeightPx;
    top:@TopPanelHeightPx;
    left:0px;
    width:@WidthPx;">
</div>

<div id="@BottomPanelId" class="noselect @BottomClassString"
     style="@BottomStyleString
    position:absolute;
    overflow:auto;
    top:@BottomPanelTopPx;
    left:0px;
    width:@WidthPx;
    height:@BottomPanelHeightPx;">
    <CascadingValue Value=@this>
        @BottomChildContent
    </CascadingValue>
</div>

