@inherits SliderPanelBase
@inject SliderInterop SliderInterop

<div id="@TopPanelId" class="noselect @TopClassString"
     style="@TopStyleString
    position:absolute;
    overflow:auto;
    top:0px;
    left:0px;
    width:@WidthPx;
    height:@TopPanelHeightPx;">
    @if (TopHeaderContent != null)
    {
        <div class="panel-header">
            <CascadingValue Value=this Name="directParent">
                <CascadingValue Value=Width Name="directWidth">
                    <CascadingValue Value=TopPanelHeight Name="directHeight">
                        @TopHeaderContent
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </div>
    }
    <div class="panel-content">
        <CascadingValue Value=this Name="directParent">
            <CascadingValue Value=Width Name="directWidth">
                <CascadingValue Value=TopPanelHeight Name="directHeight">
                    @TopChildContent
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </div>
</div>

<div id="@SliderId" class="@DefaultSliderClass @SliderClassString"
     style="position:absolute;
    overflow: hidden;
    height:@SliderHeightPx;
    top:@TopPanelHeightPx;
    left:0px;
    width:@WidthPx;">
     @SliderContent
</div>

<div id="@BottomPanelId" class="noselect @BottomClassString"
     style="@BottomStyleString
    position:absolute;
    overflow:auto;
    top:@BottomPanelTopPx;
    left:0px;
    width:@WidthPx;
    height:@BottomPanelHeightPx;">
    @if (BottomHeaderContent != null)
    {
        <div class="panel-header">
            <CascadingValue Value=this Name="directParent">
                <CascadingValue Value=Width Name="directWidth">
                    <CascadingValue Value=BottomPanelHeight Name="directHeight">
                        @BottomHeaderContent
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </div>
    }
    <div class="panel-content">
        <CascadingValue Value=this Name="directParent">
            <CascadingValue Value=Width Name="directWidth">
                <CascadingValue Value=BottomPanelHeight Name="directHeight">
                    @BottomChildContent
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </div>
</div>

