@inherits SliderPanelBase
@inject SliderInterop jsInterop

<div id="@TopPanelId" class="noselect @TopClassString"
     style="@TopStyleString
    position:absolute;
    overflow:auto;
    top:0px;
    left:0px;
    width:@WidthPx;
    height:@TopPanelHeightPx;">
    <CascadingValue Value=this Name="directParent">
        <CascadingValue Value=Width Name="directWidth">
            <CascadingValue Value=TopPanelHeight Name="directHeight">
                @TopChildContent
            </CascadingValue>
        </CascadingValue>
        
    </CascadingValue>
</div>

<div id="@SliderId" class="@DefaultSliderClass @SliderClassString"
     style="position:absolute;
    overflow: hidden;
    height:@SliderHeightPx;
    top:@TopPanelHeightPx;
    left:0px;
    width:@WidthPx;">
     @SliderContent
</div>

<div id="@BottomPanelId" class="noselect @BottomClassString"
     style="@BottomStyleString
    position:absolute;
    overflow:auto;
    top:@BottomPanelTopPx;
    left:0px;
    width:@WidthPx;
    height:@BottomPanelHeightPx;">
    <CascadingValue Value=this Name="directParent">
        <CascadingValue Value=Width Name="directWidth">
            <CascadingValue Value=BottomPanelHeight Name="directHeight">
                @BottomChildContent
            </CascadingValue>
        </CascadingValue>
        
    </CascadingValue>
</div>

