@inherits SliderPanelBase
@inject SliderInterop jsInterop

<div id="@LeftPanelId" class="noselect @LeftClassString"
     style="@LeftStyleString
    position:absolute;
    overflow:auto;
    top:0px;
    left:0px;
    height:@HeightPx;
    width:@LeftPanelWidthPx;">
    <CascadingValue Value=@this>
        @LeftChildContent
    </CascadingValue>
</div>

<div id="@SliderId" class="@DefaultSliderClass @SliderClassString"
     style="
    width: @SliderWidthPx;
    position: absolute;
    top: 0px;
    left: @LeftPanelWidthPx;
    height: @HeightPx;">
</div>

<div id="@RightPanelId" class="noselect @RightClassString"
     style="@RightStyleString 
    position:absolute;
    overflow:auto;
    top:0px;
    left:@RightPanelLeftPx;
    height:@HeightPx;
    width:@RightPanelWidthPx;">
    <CascadingValue Value=@this>
        @RightChildContent
    </CascadingValue>
</div>
