@inherits SliderPanelBase
@inject SliderInterop SliderInterop

<div id="@LeftPanelId" class="noselect @LeftClassString"
     style="@LeftStyleString
    position:absolute;
    overflow:auto;
    top:0px;
    left:0px;
    height:@HeightPx;
    width:@LeftPanelWidthPx;">
    <CascadingValue Value=this Name="directParent">
        <CascadingValue Value=LeftPanelWidth Name="directWidth">
            <CascadingValue Value=Height Name="directHeight">
                @LeftChildContent
            </CascadingValue>
        </CascadingValue>

        
    </CascadingValue>
</div>

<div id="@SliderId" class="@DefaultSliderClass @SliderClassString @(Disabled ? "disabled" : "")"
     style="
    width: @SliderWidthPx;
    position: absolute;
    top: 0px;
    left: @LeftPanelWidthPx;
    height: @HeightPx;
    @(Disabled ? "cursor: not-allowed; opacity: 0.5;" : "")">
</div>

<div id="@RightPanelId" class="noselect @RightClassString"
     style="@RightStyleString 
    position:absolute;
    overflow:auto;
    top:0px;
    left:@RightPanelLeftPx;
    height:@HeightPx;
    width:@RightPanelWidthPx;">
    <CascadingValue Value=this Name="directParent">
        <CascadingValue Value=RightPanelWidth Name="directWidth">
            <CascadingValue Value=Height Name="directHeight">
                @RightChildContent
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>
